# Docs: https://caddyserver.com/docs/caddyfile
0.0.0.0:80 {
  proxy / node:9000 {
    transparent
  }
    
}

# Replace with your domain
https://labandera.sudoist.com {
  proxy / node:9000 {
    transparent
  }

  # Replace with your email  
  tls mail@jcos.io
    
}
